frontend/node_modules
frontend/.next
frontend/out
frontend/.env.local
frontend/.env
frontend/logs

backend/venv
backend/__pycache__
backend/logs
backend/.env

.git
.gitignore
Dockerfile
docker-compose.yml